/*
  Common styles for all iframes
*/
.responsive-iframe {
  width: 100%;      /* Fill whole window */
  border: none;     /* Removes the default border */
  margin: 0 0 0 0;  /* Removes the default margin */
}

/* Custom styles for specific forms */
.contact-form {
  height: 1284px; /* Custom height for Contact Form */
}

.architectureCopilotFeedback-form {
  height: 2920px; /* Custom height for Architecture Copilot Feedback Form */
}

.architectureCopilotPreview-form {
  height: 2942px; /* Custom height for Architecture Copilot Preview Form */
}

/*
  Clean Layout
*/

/* Remove borders from the header and footer */
header, footer {
  border: none;
}

/* Remove box-shadows if they are used */
body, .wrapper {
  box-shadow: none;
}

/* If lines are applied as top or bottom borders in the main content */
main {
  border-top: none;
  border-bottom: none;
}

/* Hide the mobile nav trigger checkbox */
.nav-trigger {
  display: none;
}

/* Hide the label for the nav trigger, which contains the hamburger icon */
.site-nav label {
  display: none;
}

/* This will hide empty list items */
li:empty {
  display: none;
}

/* Specifically targeting any '.p-name' class that might be empty */
.p-name {
  display: none;
}

body { /* Website Style */
  font-family: 'Helvetica', 'Arial', sans-serif;
}

/*
  Responsive image styles
*/
.img-full-width {
  width: 100%;
  height: auto;
}

.img-half-width {
  width: 50%;
  height: auto;
}

/*
  Navigation Menu
*/

.nav {
  display: flex;
  flex-wrap: wrap;      /* This allows the menu items to wrap onto the next line on small screens */
  background-color: #d6cce0;
  align-items: center;  /* Ensures vertical alignment is centered */
  padding: 5px 0;       /* Add vertical padding for better optics */
  font-family: Helvetica, Arial, sans-serif;
  list-style-type: none;
}

.nav-item {
  border:  2px solid #666;  /* Darker border for better visibility */
  border-radius: 2px;
  margin:  2px;
  padding: 2px 2px;           /* Add padding to increase the clickable area and aesthetics */
}

.nav-item.active {
  background-color: #c8d5e2;
  color: #4d4c4c;
  border-color: #4d4c4c; /* Darker border for the active item */
}

.nav-item.active.nav-link {
  color: #000000;
}

.nav-link:hover {
  color: #8d699e;
  background-color: #eee; /* Light background on hover for better visibility */
}

.nav-item:hover {
  border-color: #5c7ab2; /* Darker border on hover */
}

@media (max-width: 768px) {
  .nav-item {
    margin: 0px;      /* Smaller margin for mobile */
    padding: 0px 0px; /* Smaller padding for mobile */
  }
  .nav-link {
    font-size: 12px;    /* Adjust as needed */
  }
}

/* iframe container - just using for YouTube at moment... */

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  height: 0;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
